@import "tailwindcss";

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    color: white;
    overflow: hidden; /* Mencegah double scroll */
  }
}

@layer components {
  /* Scrollbar lebih tipis agar tidak mengganggu pandangan */
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}
