@import "tailwindcss";

@layer base {
  body {
    background: radial-gradient(circle at top right, #0f172a, #000000);
    color: white;
    min-height: 100vh;
    font-family: sans-serif;
  }
}

@layer components {
  .glass-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  /* Custom scrollbar untuk kesan smooth */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
}
