@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0e0e0e] text-[#e3e3e3];
    margin: 0;
    font-family: sans-serif;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  .prose p { @apply mb-4 last:mb-0; }
  .prose strong { @apply text-blue-400 font-bold; }
  .prose ul { @apply list-disc ml-5 mb-4; }
  .prose ol { @apply list-decimal ml-5 mb-4; }
  .prose pre { @apply bg-black/50 p-4 rounded-xl border border-white/10 overflow-x-auto my-4; }
}
